.nav-header {
    background-color: #444444;
    padding: 1rem 2rem;
    position: sticky;
    top: 0;
    z-index: 1000;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
    background-color: #ffffff;
    color: #333;
    margin: 0;
    padding: 0;
}

.image {
    margin: 50px;
    padding: 0 20px;
}

.nav-header h1 {
    margin: 0;
    font-size: 1.8rem;
}

.nav-header h1 a {
    text-decoration: none;
    color: #2c3e50;
    transition: color 0.3s ease;
}

.nav-header h1 a:hover {
    color: #3498db;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav ul li {
    display: flex;
    margin-left: 175px;
}

nav ul li a {
    text-decoration: none;
    color: #555;
    font-weight: 600;
    font-size: 1rem;
    padding: 5px 0;
    position: relative;
    transition: color 0.3s ease;
}

nav ul li a::after {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    left: 0;
    background-color: #3498db;
    transition: width 0.3s ease;
}

nav ul li a:hover {
    color: #3498db;
}

nav ul li a:hover::after {
    width: 100%;
}

nav ul li a[aria-current="page"] {
    color: #3498db;
}

nav ul li a[aria-current="page"]::after {
    color: #3498db;
}

#about {
    background-color: #666666;
    padding: 10px 0;
    border-bottom: 1px solid #e0e0e0;
}

#about .about-container {
    max-width: 960px;
    margin: 40px auto;
    padding: 20px;
    display: flex;
    align-items: center;
    gap: 40px;
}

#about .about-text {
    flex: 1;
    text-align: left;
}

#about .about-text h3 {
    font-size: 2.5rem;
    margin-bottom: 10px;
    color: #ffffff;
}

#about .about-text p {
    font-size: 1.1rem;
    color: #f0f0f0;
}

#about .about-image {
    flex: 0 0 250px;
    text-align: center;
}

#about .about-image img {
    max-width: 100%;
    height: auto;
    border-radius: 50%;
    border: 1px solid #3498db;
}

#projects .projects-container {
    max-width: 960px;
    margin: 40px auto;
    padding: 20px;
    flex-direction: column;
    align-items: center;
    gap: 40px;
}

#projects .projects-image {
    text-align: center
}

#projects .projects-image img {
    max-width: 100%;
    height: auto;
    width: 750px;
    display: flex;
    flex-direction: column;
    border: 1px solid #3498db;
}

#contact .contact-info {
    text-align: center;
}

#footer p {
    text-align: center;
}

#contact h2 {
    text-align: center;
}





@media (max-width: 600px) {
    #projects .projects-image {
        flex: 0 0 120px;
    }

    #projects .projects-container {
        gap: 20px;
    }
}