<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'styles/style.css' %}">
    <title>{% block title %}GameBoi - Base{% endblock %}</title>
</head>
<body>
    <header class="nav-header">
        <a href="" class="logo-link">
            <h1>GameBoi</h1>
        </a>
        <nav>
            <ul>
                <li><a href="#about" aria-current="page">About</a></li>
                <li><a href="#projects">Projects</a></li>
                <li><a href="#contact">Contact</a></li>
            </ul>
        </nav>
    </header>

    <section id="about">
        <div class="about-container">
            <div class="about-text">
                <h3>GameBoi</h3>
                <p>I am a Python developer focusing on <strong>Front-End Development</strong> using Django.</p>
            </div>

            <figure class="about-image">
                <img src="{% static 'images/logo.png' %}" alt="GameBoi, Python Developer">
            </figure>
        </div>
    </section>

    <main class="container">
        {% block content %}
        {% endblock %}
    </main>

    <hr>
    <footer id="footer">
        <section id="contact">
            <h2>Contact Me</h2>
            <address class="contact-info">
                You can find me here:
                <br>
                Email: <a href="mailto:thegameboi@proton.me" target="_blank">thegameboi@proton.me</a>
                <br>
                Github: <a href="https://github.com/TheGameBoi" target="_blank">TheGameBoi</a>
            </address>
        </section>
        <p>&copy; 2026 TheGameBoi. All Rights Reserved.</p>
    </footer>
</body>
</html>