{% extends 'base.html' %}
{% load static %}

{% block title %}Home - GameBoi{% endblock %}

{% block content %}
<section id="projects">
    <div class="projects-container">
        <div class="projects-text">
            <h2>Projects</h2>
            <h3>Project One:</h3>
            <p>My first application, Scrappy, made with Python and PyQt6.</p>
            <a href="https://github.com/TheGameBoi/Scrappy" target="_blank">View Project</a>
        </div>
        <figure class="projects-image">
            <img src="{% static 'images/projectone.png' %}" alt="Scrappy logo.">
        </figure>
    </div>
</section>

<hr>

<footer>
    <section id="contact">
        <h2>Contact Me</h2>
        <address>
            You can find me here:
            <br>
            Email: <a href="mailto:thegameboi@proton.me" target="_blank">thegameboi@proton.me</a>
            <br>
            Github: <a href="https://github.com/TheGameBoi" target="_blank">TheGameBoi</a>
        </address>
    </section>
    <p>&copy; 2026 TheGameBoi. All Rights Reserved.</p>
</footer>
{% endblock %}